#Assignment 1 - CSI

In [ ]:
def lower_triangle(n):
  for i in range(n):
    for j in range(i+1):
      print("*", end=" ")
    print()

n = int(input("Enter the number of rows: "))
lower_triangle(n)

Enter the number of rows: 7
*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *

In [ ]:
def upper_triangle(n):
  for i in range(n):
    for j in range(n-i):
      print("*", end=" ")
    print()

n = int(input("Enter the number of rows: "))
upper_triangle(n)

Enter the number of rows: 7
* * * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

In [ ]:
def pyramid(n):
  for i in range(n):
    for j in range(n-i-1):
      print(" ", end=" ")
    for j in range(2*i+1):
      print("*", end=" ")
    print()
n = int(input("Enter no. of rows : "))
pyramid(n)

Enter no. of rows : 5
        *
      * * *
    * * * * *
  * * * * * * *
* * * * * * * * *